.gallery__like-button {
  min-width: 26px;
  height: 19px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  background-image: url(../../../images/like.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 0.4s;

}

.gallery__like-button:hover {
  opacity: 0.5;
  transition: 0.4s;
}
